# Ignore everything under experiments
experiments/**

# Re-include the directory itself (needed for later exceptions)
!experiments/

# Keep README
!experiments/README.md

# Keep production experiment and everything inside it
!experiments/production/
!experiments/production/**

**/__pycache__/
**/.ipynb_checkpoints/
*.log


datasets/**                    # in general, dont include 
!datasets/                     # but include the datasets folder itself
!datasets/README.md            # but include any readme for the datasets folder
!datasets/MNIST/               # but include the mnist dataset
!datasets/CIFAR10/             # but include the cifar10 dataset
